*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 1455px;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.navHamburger {
  display: none !important;
  z-index: 9999;
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}
.navHamburger .b1, .navHamburger .b2, .navHamburger .b3 {
  background-color: whitesmoke;
  width: 2rem;
  margin: 2px;
  height: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 4px black;
  transition: 0.4s ease-in-out;
}
.navHamburger .b1:focus, .navHamburger .b2:focus, .navHamburger .b3:focus {
  transform: scale(1.2);
  background: red;
}
.navHamburger .translateb1 {
  transform: translateX(-100%);
  opacity: 0;
}
.navHamburger .rotateb2 {
  transform: rotate(45deg);
  box-shadow: none;
}
.navHamburger .translateb3 {
  position: relative;
  transform: rotate(-45deg);
  top: -0.6rem;
  box-shadow: none;
}

.navHamburger:focus {
  transform: scale(1.2);
  color: red;
}

.bgMenuHidden {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: url(./Ressouce/Image/header-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 900;
  right: -110%;
  top: 0;
  opacity: 0;
  transition: all 0.9s ease-in-out;
}
.bgMenuHidden .menuHidden {
  position: absolute;
  text-align: center;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 5px whitesmoke;
  border-radius: 1rem;
}
.bgMenuHidden .menuHidden li {
  padding: 2rem 0rem;
  color: whitesmoke;
  list-style: none;
}
.bgMenuHidden .menuHidden li a {
  text-decoration: none;
  color: whitesmoke;
  text-transform: uppercase;
}
.bgMenuHidden .menuHidden a:focus {
  text-shadow: 0 0 25px red, 0 0 10px yellow;
  color: red;
  border: none;
  outline: none;
}

.hidden {
  right: 0;
  opacity: 1;
}

nav {
  width: 100%;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 0.7;
  z-index: 999 !important;
}
nav ul {
  position: fixed;
  max-width: 1450px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  top: 0;
  padding: 1rem;
  background-color: #000;
}
nav ul li {
  font-size: 1.5rem;
  text-transform: uppercase;
  list-style: none;
  transition: 0.2s ease-in-out;
}
nav ul li a {
  text-decoration: none;
  margin: 1.1rem;
  color: whitesmoke;
}
nav ul li a:hover, nav ul li a:focus {
  text-shadow: 0 0 25px red, 0 0 10px yellow;
  color: white;
  opacity: 1;
}
nav ul li:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 450px) {
  nav {
    display: none;
  }

  aside {
    display: none;
  }

  .banner {
    width: 100vw;
  }
}
.banner {
  position: relative;
  width: 100%;
  height: 30rem;
  border: #000 solid;
  background: url(./Ressouce/Image/header-bg-2x.png) no-repeat;
  background-position-x: center;
  background-position-y: -37px;
  background-size: cover;
}
.banner img {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.2s ease-in-out;
  transform: translate(-50%, -50%);
}

.forceAwakens {
  display: flex;
  width: 100%;
  margin: 4rem auto;
}
.forceAwakens .txtforceAwakens {
  width: 40%;
  text-align: center;
  margin: 0 0rem 0rem 9rem;
}
.forceAwakens aside {
  width: 40%;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 510px;
  z-index: -1;
}
.forceAwakens aside img {
  width: 40%;
  height: 100%;
}
.forceAwakens p {
  width: 60%;
  text-align: start;
  margin: 2rem auto;
  margin-bottom: 1rem;
}

.parallax {
  width: 100%;
  height: 45rem;
  background: url(./Ressouce/Image/kiloren-2x.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.longTime {
  width: 54%;
  margin: 3rem auto;
}
.longTime h3 {
  text-align: center;
}
.longTime .imageTime img {
  float: left;
  margin-right: 1.5rem;
}

.parallaxFooter {
  width: 100%;
  height: 25rem;
  background: url(./Ressouce/Image/stormtroopers-2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  width: 100%;
}
footer .blocFooter {
  width: 100%;
  height: 30rem;
  background: url(./Ressouce/Image/darthvader_2x.jpg) no-repeat center;
  color: whitesmoke;
  background-color: #181818;
}
footer .blocFooter .displayItem {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
footer .blocFooter .displayItem h3 {
  width: 100%;
  text-align: center;
  margin: 4rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 100;
  color: grey;
}
footer .blocFooter .blocFooter--content_left,
footer .blocFooter .blocFooter--content_mid,
footer .blocFooter .blocFooter--content_right {
  width: 25%;
  text-decoration: underline;
  color: grey;
  text-align: center;
}
footer .blocFooter .blocFooter--content_left img,
footer .blocFooter .blocFooter--content_mid img,
footer .blocFooter .blocFooter--content_right img {
  margin: 0rem 1rem;
  transition: 0.2s ease-in-out;
}
footer .blocFooter .blocFooter--content_left img:hover,
footer .blocFooter .blocFooter--content_mid img:hover,
footer .blocFooter .blocFooter--content_right img:hover {
  transform: scale(1.4);
}
footer .blocFooter .blocFooter--content_right {
  text-decoration: none;
}
footer .blocFooter .imageBlocFooter {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 450px) {
  .container {
    width: auto;
  }

  .navHamburger {
    display: block !important;
  }
  .navHamburger .b1, .navHamburger .b2, .navHamburger .b3 {
    width: 2rem;
    height: 0.5rem;
  }

  .forceAwakens {
    margin: 0 auto;
    width: 100%;
  }
  .forceAwakens p {
    width: 89%;
    text-align: center;
    margin: 1 auto;
  }
  .forceAwakens h3 {
    font-size: 0.9rem;
  }
  .forceAwakens .txtforceAwakens {
    margin: 0 auto;
    width: 80%;
  }

  .parallax {
    background-attachment: inherit;
    height: 18rem;
    background-size: cover;
  }

  .longTime {
    width: 75%;
  }
  .longTime p {
    font-size: 0.7rem;
  }

  .imageTime {
    width: 100%;
    height: 12rem;
    background: url(./Ressouce/Image/r2d2_c3p0.jpg) no-repeat center;
    background-size: contain;
    margin: 1rem auto;
  }

  .imageTime img {
    display: none;
  }

  .parallaxFooter {
    height: 14.5rem;
    background-size: cover;
  }

  .blocFooter {
    height: 14.5rem !important;
    background-size: cover !important;
    background-position: center;
  }

  .displayItem h3 {
    display: none;
  }

  .blocFooter--content_left,
.blocFooter--content_mid,
.blocFooter--content_right {
    width: 49% !important;
    font-size: 0.6rem;
  }

  .blocFooter--content_left,
.blocFooter--content_mid {
    margin: 1rem auto;
  }

  .blocFooter--content_right {
    display: flex;
    position: absolute;
    margin: 0.5rem;
    width: 100% !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    bottom: 0;
  }
  .blocFooter--content_right p {
    width: 49% !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem;
  }
  .blocFooter--content_right img {
    margin: 0 0.4rem !important;
  }

  .reseau {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */